.signin_btn {
    padding-left: 15px;
}

.Signup_form {
    width: 80%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.75);
}